@model IEnumerable<FourthStar1.Models.Drill>

@{
    ViewData["Title"] = "Index";
}

<h1>Soccer Drills</h1>

<p>
    <a asp-action="Create">Create a New Drill</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DrillName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrillDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayersRequired)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrillName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrillDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayersRequired)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
